@import "../../mixins.scss";

.arrow {
  font-size: 30px;
  color: rgb(124, 124, 124);
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.6;
  z-index: 1;
  display: none;
  @include md {
    display: block;
  }
  &:hover {
    opacity: 0.9;
  }
}
.leftarrow {
  left: 30px;
}
.rightarrow {
  right: 30px;
}

.similar-movies__section {
  .title {
    color: white;
    margin-bottom: 30px;
  }
}
